* {
    font-family: "微軟正黑體";
    margin: 0px;
    padding: 0px;
}

.bg {
    background: #ddd;
}

.top {
    font-size: 18px;
}

@keyframes section {
    from {
        opacity: 0.5;
        height: 0px;
        width: 0px;
    }
    to {
        opacity: 1;
        height: 90px;
        width: 100%;
    }
}

@keyframes input {
    from {
        opacity: 0.5;
        height: 0px;
        width: 0px;
    }
    to {
        opacity: 1;
        height: 56px;
        width: 100%;
    }
}

.message-section {
    overflow-y: hidden;
    height: 90px;
    box-shadow: 1px 1px 5px 1px #aaa;
    animation: section 1s;
}

.input {
    overflow-y: hidden;
    box-shadow: 1px 1px 5px 1px #aaa;
    animation: input 1s;
}